@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulo: 'Passion One', sans-serif;
    --font-estrofes: 'Sriracha', 'cursive';

    --cor-titulo: #DE6E4B;
}


html, body {
    background-color: #F4EDE1;
    font-family: var(--font-padrao);
}

header {
    background-color: #5A3E2B;
    padding: 40px 20px 20px 20px;
    text-align: center;
    color: white;
}

header > h1 {
    color: var(--cor-titulo);
    font-family: var(--font-titulo);
    font-size: 3.5em;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
    color: var(--cor-titulo);
}

main p {
    padding: 20px;
}

article {
    font-family: var(--font-estrofes);
}

